@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Muli:wght@400;500&display=swap");

body {
  font-family: "Baloo Bhai 2", cursive;
  /* background-color: #eeeeee; */
  background: url(  tool-bg.png);
  background-size: cover;
}

.containerFluid {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}

.containerFluid h2 {
  color: hotpink;
  position: relative;
  width: 24rem;
}

.containerFluid h2::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 26px;
  width: 67px;
  height: 2px;
  background-color: hotpink;
}

.accordion {
  width: 100%;
  padding: 0 5px;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px 7px #6db5ff;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

.accordion h5 {
  font-size: 22px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  color: #ffffff;
}

.active {
  background-color: #6db5ff;
  color: #fff;
}

.active .icon {
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px -25px #fff;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #6db5ff;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in;
}
.panel p{
  color: aliceblue;
}
.social-icons {
  margin-top: 330px;
  font-size: 30px;
  padding-left: 720px;
}
.social-icons a {
  color: #007bff;
  margin-right: 15px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: red;
}