<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/faq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>About</title>
</head>
<body>
    <div class="containerFluid">
      <h2>Frequently Asked Questions(FAQs)</h2>
      <div class="accordion">
        <div class="icon"></div>
        <h5>What is StudySage ?
        </h5>
      </div>
      <div class="panel">
        <p>
          StudySage is an webapp which will assist you in academic preparation
          by storing your daily task/goals to keep you work in track and it also
          stores your list of upcoming exams and mark events in our calenderder.
          It is an academic focused reminder webapp so you won't need store
          in your local "keep notes" app.
        </p>
      </div>
  
      <div class="accordion">
        <div class="icon"></div>
        <h5>How can I create an account on StudySage ?</h5>
      </div>
      <div class="panel">
        <p>
          If you didn't make an account then you can register yourself in the
          login page of the webapp.
        </p>
      </div>
  
      <div class="accordion">
        <div class="icon"></div>
        <h5>How can I update my profile information ?</h5>
      </div>
      <div class="panel">
        <p>
          GO to the profile icon on the top right side of the page, click on it
          and select Edit Profile to make changes on your profile/account.
        </p>
      </div>
  
      <div class="accordion">
        <div class="icon"></div>
        <h5>How do I mark a task as completed ?</h5>
      </div>
      <div class="panel">
        <p>
          Look for the checkbox on the left side of your task and click
          on it and the task will be considered done by ticking the task.
        </p>
      </div>
    </div>
    <div class="social-icons">
      <a href="https://github.com/Devank-Garg" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/devank-here/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
    </div>
    <script src="../static/js/faq.js"></script>
  </body>
  
</html>